
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    
    ::-webkit-scrollbar-thumb {
    background: skyblue;  
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: lightblue;  
    }

    .chat-messages {
      overflow-y: auto;
      height: 50vh;
      max-height: 60vh; /* adjust the height as per your requirement */
  }