.headContainerDocPat {
    padding: 20px 0; 
    margin-top: 80px;
    background-color: #f8f9fa; 
}

.docPatImage {
    max-width: 100%; /* Allow image to take full width of its container */
    height: auto; /* Maintain aspect ratio */
    max-height: 400px; /* Set a maximum height */
}

.doctorNamePat {
    font-size: 2rem; 
}

@media (min-width: 768px) {
    .doctorNamePat {
        font-size: 2.5rem; 
    }
}

