.btn-facebook {
    background-color: #3b5998;
    color: #fff;
  }
  
  .btn-google {
    background-color: #dd4b39;
    color: #fff;
  }
  
  .btn-instagram {
    background-color: #8a3ab9;
    color: #fff;
  }